section.about
  .about__brain 
    img(src="public/img/brain.png", alt="")
  .about__content 
    .title.about__title 
      span.about__title--top And now about
      span.about__title--bottom the about
        svg(width='120' height='81' viewBox='0 0 120 81' fill='none' xmlns='http://www.w3.org/2000/svg').about__title_icon
          g(clip-path='url(#clip0_17_1015)')
            path(d='M60.0062 48.2229C60.0062 43.9525 63.4397 40.5062 67.6666 40.5062C63.4273 40.5062 60.0062 37.0475 60.0062 32.7896C60.0062 37.0599 56.5727 40.5062 52.3458 40.5062C56.5851 40.5062 60.0062 43.965 60.0062 48.2229Z' fill='black')
            path(d='M79.7893 0C72.5999 0 65.8444 1.92292 59.9938 5.26931C54.1556 1.92292 47.4001 0 40.2107 0C18.0353 0 0 18.1679 0 40.5062C0 62.8446 18.0353 81.0125 40.2107 81.0125C47.4001 81.0125 54.1556 79.0896 60.0062 75.7432C65.8568 79.0896 72.6123 81.0125 79.8017 81.0125C101.977 81.0125 120.012 62.8446 120.012 40.5062C120.012 18.1679 101.965 0 79.7893 0ZM40.1983 79.7514C18.7171 79.7514 1.23954 62.1454 1.23954 40.5062C1.23954 18.8671 18.7171 1.24865 40.2107 1.24865C46.929 1.24865 53.2507 2.97179 58.7791 5.99353C47.2761 13.1233 39.591 25.922 39.591 40.5062C39.591 55.0905 47.2761 67.8767 58.7791 75.019C53.2631 78.0407 46.929 79.7638 40.2107 79.7638L40.1983 79.7514ZM60.0062 6.70526C71.472 13.5479 79.1819 26.1343 79.1819 40.4938C79.1819 54.8532 71.472 67.4521 60.0062 74.2823C48.5404 67.4397 40.8305 54.8532 40.8305 40.4938C40.8305 26.1343 48.5404 13.5354 60.0062 6.70526ZM79.8017 79.7514C73.0834 79.7514 66.7617 78.0282 61.2333 75.0065C72.7363 67.8767 80.4214 55.078 80.4214 40.4938C80.4214 25.9095 72.7363 13.1233 61.2333 5.98104C66.7493 2.9593 73.0834 1.23616 79.8017 1.23616C101.283 1.23616 118.773 18.8421 118.773 40.4938C118.773 62.1454 101.295 79.7514 79.8017 79.7514Z' fill='black')
          defs
            clippath#clip0_17_1015
              rect(width='120' height='81' fill='white')
    
    .about__yellow 
      span Neurofitness &nbsp; + &nbsp; Tennis | Neurotennis
    
    .about__bottom
      .about__list
        .about__list_number 
          span 01 
        .about__list_title 
          span Neurofitness is:
        ul.about__list_wrapper 
          li Strength
          li Stability
          li Reaction
          li Focusing
          li Reducing stress levels     
      .about__list
        .about__list_number 
          span 02
        .about__list_title 
          span Tennis is:
        ul.about__list_wrapper 
          li Balance
          li Endurance
          li Cardio
          li Posture and relief
          li strategic thinking
      .about__more 
        button.button.button--transparent.about__more_button 
          svg(width='16' height='63' viewBox='0 0 16 63' fill='none' xmlns='http://www.w3.org/2000/svg')
            path(d='M7.2929 62.7071C7.68342 63.0976 8.31659 63.0976 8.70711 62.7071L15.0711 56.3431C15.4616 55.9526 15.4616 55.3195 15.0711 54.9289C14.6805 54.5384 14.0474 54.5384 13.6569 54.9289L8 60.5858L2.34315 54.9289C1.95262 54.5384 1.31946 54.5384 0.928935 54.9289C0.53841 55.3195 0.53841 55.9526 0.928935 56.3431L7.2929 62.7071ZM7 4.37114e-08L7 62L9 62L9 -4.37114e-08L7 4.37114e-08Z' fill='black')
        .about__more_title 
          span But 
            br
            | that's 
            br
            | not all


