section.acquaintance
  .acquaintance__title.title 
    span Acquaintance 
    span 
      svg(width='125' height='56' viewBox='0 0 125 56' fill='none' xmlns='http://www.w3.org/2000/svg').acquaintance__title_icon
        path(d='M124.64 27.2601H106.02C105.9 24.4201 104.77 21.6201 102.61 19.4601L86.58 3.43012C82 -1.14988 74.56 -1.14988 69.98 3.43012L62.32 11.0901L54.66 3.43012C50.08 -1.14988 42.64 -1.14988 38.06 3.43012L22.03 19.4601C19.87 21.6201 18.74 24.4201 18.62 27.2601H0V28.2601H18.62C18.74 31.1001 19.87 33.9001 22.03 36.0601L38.06 52.0901C40.28 54.3101 43.23 55.5301 46.36 55.5301C49.49 55.5301 52.44 54.3101 54.66 52.0901L62.32 44.4301L69.98 52.0901C72.2 54.3101 75.15 55.5301 78.28 55.5301C81.41 55.5301 84.36 54.3101 86.58 52.0901L102.61 36.0601C104.77 33.9001 105.9 31.1001 106.02 28.2601H124.64V27.2601ZM70.69 4.14012C72.78 2.05012 75.53 1.00012 78.28 1.00012C81.03 1.00012 83.78 2.05012 85.87 4.14012L101.9 20.1701C103.87 22.1401 104.9 24.6801 105.02 27.2601H74.09C73.97 24.4201 72.84 21.6201 70.68 19.4601L63.02 11.8001L70.68 4.14012H70.69ZM51.54 27.2601C51.66 24.6801 52.69 22.1301 54.66 20.1701L62.32 12.5101L69.98 20.1701C71.95 22.1401 72.98 24.6801 73.1 27.2601H51.54ZM73.1 28.2601C72.98 30.8401 71.95 33.3901 69.98 35.3501L62.32 43.0101L54.66 35.3501C52.69 33.3801 51.66 30.8401 51.54 28.2601H73.1ZM22.73 20.1701L38.76 4.14012C40.85 2.05012 43.6 1.00012 46.35 1.00012C49.1 1.00012 51.85 2.05012 53.94 4.14012L61.6 11.8001L53.94 19.4601C51.78 21.6201 50.65 24.4201 50.53 27.2601H19.62C19.74 24.6801 20.77 22.1301 22.74 20.1701H22.73ZM53.95 51.3901C51.92 53.4201 49.23 54.5401 46.36 54.5401C43.49 54.5401 40.8 53.4201 38.77 51.3901L22.74 35.3601C20.77 33.3901 19.74 30.8501 19.62 28.2701H50.55C50.67 31.1101 51.8 33.9101 53.96 36.0701L61.62 43.7301L53.96 51.3901H53.95ZM101.91 35.3601L85.88 51.3901C83.85 53.4201 81.16 54.5401 78.29 54.5401C75.42 54.5401 72.72 53.4201 70.7 51.3901L63.04 43.7301L70.7 36.0701C72.86 33.9101 73.99 31.1101 74.11 28.2701H105.04C104.92 30.8501 103.89 33.4001 101.92 35.3601H101.91Z' fill='black')
      | Evgeniy
  .acquaintance__center
    .acquaintance__item 
      .acquaintance__item_img 
        img(src="public/img/acquaintance/icon1.svg", alt="") 
      .acquaintance__item_title 
        span Tennis kid star
      .acquaintance__item_desc 
        span From the age of 7 with a racket. By the age of 14 - a stable winner of official tennis tournaments in Ukraine. Winner and prize-winner of PTT tournaments and participant international ITF tournaments.
          br
          | Plays with the left hand.
    .acquaintance__button
      include ../components/button
    .acquaintance__man 
      img(src="public/img/acquaintance/man.png", alt="") 

  .acquaintance__bottom 
    .acquaintance__item 
      .acquaintance__item_img 
        img(src="public/img/acquaintance/icon2.svg", alt="") 
      .acquaintance__item_title 
        span The perfect
          br
          | companion for tennis
      .acquaintance__item_desc 
        span Eugene gives amateurs the opportunity to put the right technique, improve tennis level. This is not competition training, this is pure enjoyment of the game. 
          br
          | Court, rackets, balls - he takes care of all this
    .acquaintance__item 
      .acquaintance__item_img 
        img(src="public/img/acquaintance/icon3.svg", alt="") 
      .acquaintance__item_title 
        span Links neurofitness and sport
      .acquaintance__item_desc 
        span Eugene noticed how closely neurofitness is intertwined with big tennis. And by knowing the techniques of both, he helps you enhance the effect both sports.
