section.benefits
  .benefits__title.title 
    span Your Benefits of 
    span 
      svg(width='628' height='46' viewBox='0 0 628 46' fill='none' xmlns='http://www.w3.org/2000/svg').benefits__title_icon
        path(d='M621.536 34.0445C618.797 34.0445 616.556 36.0805 616.154 38.7143H503.84C500.181 38.7143 497.071 36.5814 495.749 33.1558C494.428 29.7301 495.282 26.0621 497.989 23.5898C501.197 20.649 502.212 16.3023 500.649 12.2465C499.085 8.19064 495.411 5.65374 491.059 5.65374H10.8303C10.4435 3.01988 8.18722 0.983887 5.4474 0.983887C2.44972 1.00005 0 3.45616 0 6.47783C0 9.49949 2.44972 11.9556 5.46352 11.9556C8.20334 11.9556 10.4435 9.91962 10.8465 7.28576H491.092C494.75 7.28576 497.861 9.4187 499.182 12.8443C500.504 16.27 499.649 19.938 496.942 22.4103C493.735 25.3511 492.719 29.6978 494.283 33.7536C495.846 37.8094 499.521 40.3464 503.872 40.3464H616.186C616.573 42.9802 618.829 45.0162 621.569 45.0162C624.583 45.0162 627.032 42.5601 627.032 39.5384C627.032 36.5168 624.583 34.0606 621.569 34.0606L621.536 34.0445Z' fill='black')
      | Neurofitness 
  .benefits__content
    .benefits__slider.swiper 
      .swiper-wrapper
        .benefits__slide.swiper-slide 
          .benefits__slide_img 
            img(src="public/img/benefits/icon1.svg", alt="")
          .benefits__slide_title 
            span STABILITY 
          .benefits__slide_desc 
            span Your body is in balance. Muscles are better coordinate with the nervous system. So way, neurofitness serves serves foundation for safe driving. 
        .benefits__slide.swiper-slide 
          .benefits__slide_img 
            img(src="public/img/benefits/icon2.svg", alt="")
          .benefits__slide_title 
            span FOCUSING
          .benefits__slide_desc 
            span Neural activation sharpens your
              br
              | feelings, increases brain mobility. it
              br
              | helps not only in the gym and on the court! Through improved perception, you raise the speed of learning, advancement up the career ladder 
        .benefits__slide.swiper-slide 
          .benefits__slide_img 
            img(src="public/img/benefits/icon3.svg", alt="")
          .benefits__slide_title 
            span SPEED REACTION
          .benefits__slide_desc 
            span Body awareness combined with
              br
              | balance improves and accelerates
              br
              | your brain processes. Such as:
              br
              | calculation, decision making, assimilation new information, correct
              br
              | assessment of situations. 
      .benefits__pagination.swiper-pagination
    .benefits__boy 
      img(src="public/img/benefits/boy.png", alt="")
      .benefits__button.button.button--blue.popup_open 
        span Firts lesson free
        .button__icon 
          svg(width='63' height='15' viewBox='0 0 63 15' fill='none' xmlns='http://www.w3.org/2000/svg')
            path(d='M62.7071 8.2071C63.0976 7.81658 63.0976 7.18341 62.7071 6.79289L56.3431 0.428927C55.9526 0.0384029 55.3195 0.038403 54.9289 0.428927C54.5384 0.819452 54.5384 1.45262 54.9289 1.84314L60.5858 7.49999L54.9289 13.1568C54.5384 13.5474 54.5384 14.1805 54.9289 14.5711C55.3195 14.9616 55.9526 14.9616 56.3431 14.5711L62.7071 8.2071ZM8.74228e-08 8.5L62 8.49999L62 6.49999L-8.74228e-08 6.5L8.74228e-08 8.5Z' fill='white')
