footer.footer
  .footer__border
    img(src="public/img/border.svg", alt="")
  a(href="/").logo 
    img(src="public/img/logo.svg", alt="")
  .footer__bottom
    .footer__socials 
      a(href="#").footer__social
        svg(width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg')
          path(d='M16.1376 11.9827H13.4681V21H9.42358V11.9827H7.5V8.81361H9.42358V6.76288C9.42358 5.29638 10.1791 3 13.5041 3L16.5 3.01156V6.08766H14.3263C13.9697 6.08766 13.4684 6.25192 13.4684 6.95148V8.81656H16.4909L16.1376 11.9827Z' fill='black')
      a(href="#").footer__social
        svg(width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg')
          path(d='M21 6.27577C20.3379 6.57682 19.6257 6.78043 18.8788 6.87136C19.6414 6.40285 20.2267 5.66154 20.5029 4.77676C19.7893 5.21082 18.9986 5.5257 18.1578 5.69543C17.4842 4.95976 16.5244 4.5 15.4616 4.5C13.4225 4.5 11.7687 6.19585 11.7687 8.28678C11.7687 8.58359 11.8014 8.87249 11.8648 9.14982C8.79565 8.99195 6.07436 7.48447 4.25282 5.19274C3.935 5.75191 3.75269 6.40285 3.75269 7.09672C3.75269 8.4102 4.40512 9.56975 5.39548 10.2487C4.79042 10.2292 4.2206 10.0589 3.72294 9.7745C3.72267 9.7906 3.72267 9.80669 3.72267 9.82251C3.72267 11.6573 4.99614 13.1877 6.68521 13.5353C6.37565 13.6223 6.04875 13.6683 5.71248 13.6683C5.47397 13.6683 5.24291 13.6449 5.01763 13.6008C5.48747 15.1049 6.85101 16.1998 8.46736 16.2306C7.20325 17.2464 5.61113 17.8516 3.88047 17.8516C3.58303 17.8516 3.28835 17.8338 3 17.7985C4.63343 18.8733 6.57505 19.5 8.66042 19.5C15.453 19.5 19.1677 13.7299 19.1677 8.72536C19.1677 8.56128 19.1641 8.39777 19.157 8.23567C19.8791 7.70192 20.5051 7.03516 21 6.27577Z' fill='black')
    .footer__mails 
      a(href="mailto:info@neuro-tennis").footer__mail 
        svg(width='20' height='18' viewBox='0 0 20 18' fill='none' xmlns='http://www.w3.org/2000/svg')
          path(d='M1 0L19 0C19.2652 0 19.5196 0.105357 19.7071 0.292893C19.8946 0.48043 20 0.734784 20 1L20 17C20 17.2652 19.8946 17.5196 19.7071 17.7071C19.5196 17.8946 19.2652 18 19 18L1 18C0.734784 18 0.48043 17.8946 0.292893 17.7071C0.105357 17.5196 0 17.2652 0 17L0 1C0 0.734784 0.105357 0.48043 0.292893 0.292893C0.48043 0.105357 0.734784 0 1 0ZM2.511 2L10.061 8.662L17.502 2L2.511 2Z' fill='black')
        span info@neuro-tennis
      a(href="mailto:info@neuro-tennis").footer__mail 
        svg(width='20' height='18' viewBox='0 0 20 18' fill='none' xmlns='http://www.w3.org/2000/svg')
          path(d='M1 0L19 0C19.2652 0 19.5196 0.105357 19.7071 0.292893C19.8946 0.48043 20 0.734784 20 1L20 17C20 17.2652 19.8946 17.5196 19.7071 17.7071C19.5196 17.8946 19.2652 18 19 18L1 18C0.734784 18 0.48043 17.8946 0.292893 17.7071C0.105357 17.5196 0 17.2652 0 17L0 1C0 0.734784 0.105357 0.48043 0.292893 0.292893C0.48043 0.105357 0.734784 0 1 0ZM2.511 2L10.061 8.662L17.502 2L2.511 2Z' fill='black')
        span info@neuro-tennis