.popup.popup_success.popup-disabled
  .popup__wrapper 
    .popup__title 
      span Booking form
    .popup__close 
      svg(width='32' height='32' viewBox='0 0 32 32' fill='none' xmlns='http://www.w3.org/2000/svg')
        path(d='M16 13.5559L24.5559 5L27 7.44406L18.4441 16L27 24.5559L24.5559 27L16 18.4441L7.44406 27L5 24.5559L13.5559 16L5 7.44406L7.44406 5L16 13.5559Z' fill='#2B17F7')  
    
    .popup__info 
      .popup__icon 
        svg(width='128' height='119' viewBox='0 0 128 119' fill='none' xmlns='http://www.w3.org/2000/svg')
          path(d='M128 11.186L123.163 6.34378L106.429 23.0891C104.867 21.0685 103.178 19.1493 101.373 17.343C90.6533 6.65355 76.2645 0.45984 61.1404 0.024592C46.0163 -0.410656 31.2957 4.94534 19.9799 15.0006C8.66407 25.0559 1.60501 39.0533 0.241837 54.1393C-1.12133 69.2252 3.31408 84.2636 12.6437 96.1887C21.9734 108.114 35.4948 116.027 50.4514 118.317C65.408 120.606 80.6735 117.098 93.1357 108.508C105.598 99.9177 114.319 86.8927 117.52 72.0881C120.721 57.2834 118.161 41.8139 110.363 28.8333L128 11.186ZM112.038 59.6339C112.037 71.8857 107.793 83.7582 100.028 93.2284C92.2641 102.699 81.46 109.181 69.4571 111.57C57.4541 113.96 44.995 112.109 34.2023 106.333C23.4097 100.557 14.9515 91.2132 10.2687 79.8939C5.58587 68.5745 4.9682 55.9797 8.52103 44.2556C12.0739 32.5314 19.5774 22.4032 29.753 15.5967C39.9286 8.79013 52.1467 5.72637 64.3257 6.9274C76.5047 8.12842 87.891 13.5199 96.5445 22.1833C98.3506 23.9921 100.026 25.9273 101.557 27.9744L59.1364 70.4433L36.1565 47.4373L31.3197 52.2795L59.1364 80.1278L105.366 33.8438C109.761 41.7261 112.058 50.6068 112.038 59.6339Z' fill='#CBF910')
      .popup__info_content 
        .popup__info_title 
          span Request accepted
        .popup__info_desc 
          span Your data will be processed as soon as possible
            br
            | and our manager will contact you 
    a(href="/").popup__button.button.button--blue 
      span Main page
      .button__icon
        svg(width='37' height='15' viewBox='0 0 37 15' fill='none' xmlns='http://www.w3.org/2000/svg')
          path(d='M36.2071 8.20711C36.5976 7.81658 36.5976 7.18342 36.2071 6.79289L29.8431 0.428932C29.4526 0.0384078 28.8195 0.0384078 28.4289 0.428932C28.0384 0.819457 28.0384 1.45262 28.4289 1.84315L34.0858 7.5L28.4289 13.1569C28.0384 13.5474 28.0384 14.1805 28.4289 14.5711C28.8195 14.9616 29.4526 14.9616 29.8431 14.5711L36.2071 8.20711ZM0.5 8.5H35.5V6.5H0.5V8.5Z' fill='white')