.popup.popup_error.popup-disabled
  .popup__wrapper 
    .popup__title 
      span Booking form
    .popup__close 
      svg(width='32' height='32' viewBox='0 0 32 32' fill='none' xmlns='http://www.w3.org/2000/svg')
        path(d='M16 13.5559L24.5559 5L27 7.44406L18.4441 16L27 24.5559L24.5559 27L16 18.4441L7.44406 27L5 24.5559L13.5559 16L5 7.44406L7.44406 5L16 13.5559Z' fill='#2B17F7')  
    
    .popup__info 
      .popup__icon 
        svg(width='119' height='119' viewBox='0 0 119 119' fill='none' xmlns='http://www.w3.org/2000/svg')
          path(d='M119 114.705L99.1238 94.8326C107.829 85.1266 112.627 72.5382 112.592 59.5C112.61 52.5247 111.245 45.6152 108.575 39.1712C105.905 32.7272 101.984 26.8767 97.0383 21.9584C92.1201 17.0129 86.2701 13.0919 79.8266 10.4224C73.3832 7.75297 66.4744 6.38796 59.5 6.40641C46.4634 6.37044 33.8762 11.1682 24.1705 19.8727L4.29957 0L0 4.29991L19.8762 24.1674C11.1712 33.8734 6.3726 46.4618 6.4076 59.5C6.38962 66.4753 7.75509 73.3848 10.4249 79.8288C13.0948 86.2728 17.016 92.1233 21.9617 97.0416C26.8799 101.987 32.7299 105.908 39.1734 108.578C45.6168 111.247 52.5256 112.612 59.5 112.594C72.5366 112.63 85.1238 107.832 94.8295 99.1273L114.7 119L119 114.705ZM59.5 12.4861C65.6759 12.4693 71.7938 13.6778 77.4995 16.0415C83.2052 18.4052 88.3854 21.8772 92.7405 26.2565C97.1194 30.6119 100.591 35.7927 102.955 41.4989C105.318 47.2052 106.527 53.3236 106.51 59.5C106.542 70.9231 102.383 81.961 94.8208 90.5222L28.4804 24.1761C37.0409 16.6135 48.0779 12.4541 59.5 12.4861ZM59.5 106.514C53.3241 106.531 47.2062 105.322 41.5005 102.959C35.7948 100.595 30.6145 97.1228 26.2595 92.7435C21.8805 88.3881 18.4088 83.2073 16.0453 77.5011C13.6818 71.7948 12.4735 65.6764 12.4902 59.5C12.4582 48.0769 16.6172 37.039 24.1792 28.4778L90.5196 94.8239C81.9591 102.386 70.9221 106.546 59.5 106.514Z' fill='#FF2C2C')
      .popup__info_content 
        .popup__info_title 
          span Request denied
        .popup__info_desc 
          span While we're trying to figure out what went wrong, 
            br
            | you can try filling out the form again
    .popup__button.button.button--blue.popup_open 
      span Try again
      .button__icon
        svg(width='37' height='15' viewBox='0 0 37 15' fill='none' xmlns='http://www.w3.org/2000/svg')
          path(d='M36.2071 8.20711C36.5976 7.81658 36.5976 7.18342 36.2071 6.79289L29.8431 0.428932C29.4526 0.0384078 28.8195 0.0384078 28.4289 0.428932C28.0384 0.819457 28.0384 1.45262 28.4289 1.84315L34.0858 7.5L28.4289 13.1569C28.0384 13.5474 28.0384 14.1805 28.4289 14.5711C28.8195 14.9616 29.4526 14.9616 29.8431 14.5711L36.2071 8.20711ZM0.5 8.5H35.5V6.5H0.5V8.5Z' fill='white')