.signup
  .signup__title.title 
    span Benefits bit
    span 
      svg(width='501' height='39' viewBox='0 0 501 39' fill='none' xmlns='http://www.w3.org/2000/svg').signup__title_icon
        path(d='M495.183 9.71061C492.767 9.71061 490.791 7.90599 490.436 5.57143H277.562L253.091 34.8608H9.54963C9.20857 37.1954 7.21906 39 4.80324 39C2.16004 39 0 36.823 0 34.1447C0 31.4664 2.16003 29.2894 4.81745 29.2894C7.23327 29.2894 9.20857 31.094 9.56384 33.4286H252.438L276.923 4.13919H490.465C490.806 1.80463 492.795 0 495.211 0C497.868 0 500.028 2.17701 500.028 4.85531C500.028 7.5336 497.868 9.71061 495.211 9.71061H495.183Z' fill='black')
      | tennis 
  .signup__center 
    .signup__girls 
      img(src="public/img/signup/girls.png", alt="")
    ul.signup__list 
      li 
        span 01
        | No age limits
      li 
        span 02
        | Development of all muscle groups
      li 
        span 03
        | Accelerate the reaction
      li 
        span 04
        | Improved coordination
      li 
        span 05
        | Balance and focus
      li 
        span 06 
        | Minimum injury
  .signup__bottom 
    .signup__bottom_head 
      .signup__bottom_title 
        span Sign up for the first free
          br
          | lesson now 
      include ../components/button
    .signup__bottom_yellow
      span Neurotennis - a combination of neurofitness and tennis -this is your opportunity 
        to quickly and efficiently get your body and mind in order.
        br
        br
        | In the rhythm of NYC life, it is very difficult to find time for yourself, "force" yourself
        br
        | to go to sports. FROM neurotennis is not a problem. You only need TO BEGIN.
        br
        br
        | Neurofitness will help you tone your body to work. You activate the mechanisms that you didn't even suspect. And tennis will complete the process hone skills. 
        br
        | Allows you to feel your body in the game with professional.
        
