section.stages
  .stages__info 
    .stages__info_title 
      span Neurofitness training - innovative
        br
        | program. It combines: 
    ul.stages__info_list 
      li energy work on the body with the help of
        br
        | tapping body meridian activation systems
      li activation of neural connections of the body for
        br
        | proper functioning of the joints and improvement
        br
        | state of the organism through concepts
    .stages__info_arrow
      svg(width='63' height='16' viewBox='0 0 63 16' fill='none' xmlns='http://www.w3.org/2000/svg')
        path(d='M62.7071 8.7071C63.0976 8.31658 63.0976 7.68341 62.7071 7.29289L56.3431 0.928927C55.9526 0.538403 55.3195 0.538403 54.9289 0.928927C54.5384 1.31945 54.5384 1.95262 54.9289 2.34314L60.5858 7.99999L54.9289 13.6568C54.5384 14.0474 54.5384 14.6805 54.9289 15.0711C55.3195 15.4616 55.9526 15.4616 56.3431 15.0711L62.7071 8.7071ZM8.74228e-08 9L62 8.99999L62 6.99999L-8.74228e-08 7L8.74228e-08 9Z' fill='black')

  .stages__title.title
    span Stages
    span
      svg(width='122' height='50' viewBox='0 0 122 50' fill='none' xmlns='http://www.w3.org/2000/svg').stages__title_icon
        path(d='M118.27 21.47C116.57 21.47 115.18 22.73 114.93 24.36H81.73C81.62 10.66 77.07 0 71.28 0C65.49 0 60.94 10.66 60.83 24.36H41.91C41.8 10.66 37.25 0 31.46 0C25.67 0 21.12 10.66 21.01 24.36H7.71999C7.47999 22.73 6.07999 21.47 4.37999 21.47C2.50999 21.47 0.98999 22.99 0.98999 24.86C0.98999 26.73 2.50999 28.25 4.37999 28.25C6.07999 28.25 7.46999 26.99 7.71999 25.36H40.93C41.04 39.06 45.59 49.72 51.38 49.72C57.17 49.72 61.72 39.06 61.83 25.36H80.75C80.86 39.06 85.41 49.72 91.2 49.72C96.99 49.72 101.54 39.06 101.65 25.36H114.95C115.19 26.99 116.59 28.25 118.29 28.25C120.16 28.25 121.68 26.73 121.68 24.86C121.68 22.99 120.16 21.47 118.29 21.47H118.27ZM71.28 1C76.34 1 80.62 11.65 80.73 24.36H61.83C61.94 11.65 66.22 1 71.28 1ZM31.47 1C36.53 1 40.81 11.65 40.92 24.36H22.02C22.13 11.65 26.41 1 31.47 1ZM51.38 48.72C46.32 48.72 42.04 38.07 41.93 25.36H60.83C60.72 38.07 56.44 48.72 51.38 48.72ZM91.19 48.72C86.13 48.72 81.85 38.07 81.74 25.36H100.64C100.53 38.07 96.25 48.72 91.19 48.72Z' fill='black') 
      | workout

  .stages__items 
    .stages__item 
      .stages__item_top 
        .stages__item_number 
          span 01 
        .stages__item_title 
          span Nervous system
            br
            | activation
      .stages__item_desc 
        span Wake up your body with neurologicalexercise, tapping, breathing. Manifesting awareness in the body, enter into a dialogue with it.
    .stages__item 
      .stages__item_top 
        .stages__item_number 
          span 02 
        .stages__item_title 
          span Flexibility and
            br
            | mobility
      .stages__item_desc 
        span Combining the results of the first two stages
          br
          | training for maximum effect. We move with full awareness in the body.Don't try to imagine what it's like. Just try.
    .stages__item 
      .stages__item_top 
        .stages__item_number 
          span 03 
        .stages__item_title 
          span Mobilization of
            br
            | muscle groups
      .stages__item_desc 
        span We tailor an individual approach to you
          br
          | depending on the query and the results of the first stage. We achieve fast results with the mind.