button.button.button--blue.popup_open 
  span Book
  .button__icon 
    svg(width='37' height='16' viewBox='0 0 37 16' fill='none' xmlns='http://www.w3.org/2000/svg')
      path(d='M36.2071 8.70711C36.5976 8.31658 36.5976 7.68342 36.2071 7.29289L29.8431 0.928932C29.4526 0.538408 28.8195 0.538408 28.4289 0.928932C28.0384 1.31946 28.0384 1.95262 28.4289 2.34315L34.0858 8L28.4289 13.6569C28.0384 14.0474 28.0384 14.6805 28.4289 15.0711C28.8195 15.4616 29.4526 15.4616 29.8431 15.0711L36.2071 8.70711ZM0.5 9H35.5V7H0.5V9Z' fill='white')