- var title = "";
doctype html
html
  include includes/head
  body
    .body-wrap 
      include sections/header
      include sections/first
      include sections/about
      include sections/offer
      include sections/acquaintance
      include sections/stages
      include sections/benefits
      include sections/signup
      include sections/footer
      include sections/popups

    include includes/foot